{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block body %}
	<h1> Change Password </h1>
	<table border = '2'>
		<form method = 'POST'>
			{% csrf_token %}
			<input type = 'password' placeholder = 'Enter New Password' required name = 'pw1'>
			<br><br>
			<input type = 'password' placeholder = 'Enter Password Again' required name = 'pw2'>
			<br><br>
			<input type = 'submit' value = 'Change Password'>
		</form>
	</table>
	<h2>Your new password will be sent via Email</h2>
{% endblock %}